{:deps {org.clojure/clojure {:mvn/version "1.11.4"}
        org.duct-framework/logger {:mvn/version "0.4.0"}
        org.duct-framework/logger.simple {:mvn/version "0.4.5"}
        integrant/integrant {:mvn/version "0.13.1"}}}
