{:deps {org.clojure/clojure {:mvn/version "1.12.2"}
        org.duct-framework/logger {:mvn/version "0.4.0"}
        org.duct-framework/logger.simple {:mvn/version "0.4.7"}
        integrant/integrant {:mvn/version "1.0.0"}}}
